@charset "utf-8";

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f1e5;
    color: #4b382a;
    margin: 0;
    padding: 0;
}

header {
  background: url('img/100.jpg') no-repeat center center; 
  background-size: cover;
  height: 250px; 
  overflow: hidden;
  padding-top: 60px;
}
nav {
    margin-top: 40px; 
}

nav ul {
    width: 70%;
    margin: auto;
    border-radius: 10px;
    list-style-type: none;
    background-color:#C46200;
}

nav li {
    display: inline-flex;
}

nav a {
    padding: 20px;
    width: 150px;
    text-decoration: none;
    color: black;
}

nav ul a:hover {
    background-color: white;
}


.submenu {
    position: relative;
}

.submenu .dropdown {
    display: none;
    position: absolute;
    background: #C46200;
    top: 100%;
    left: 0;
    min-width: 150px;
    padding: 0;
    border-radius: 10px;
}

.submenu:hover .dropdown {
    display: block;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    padding: 10px;
    color: black;
    display: block;
    background: #C46200;
    border-bottom: 1px solid #FFF;
}

.dropdown li a:hover {
    background: white;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
  color:#623131;
  text-align: center; 
  font-family: "Times New Roman", Times, serif; 
  font-size: 80px; 
  text-shadow: 5px 3px 8px #785; 
  margin-top: 60px; 
}

p {
    line-height: 1.6;
    text-align: center;
    width: 60%;
    margin: auto;
}

footer {
    background-color: #4b382a;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
